body {
    background-color: #f1f1f1;
    width:100%;
    
    margin: 0px;
    
    padding-bottom:60px;
}
.program-space{
    background-color: white;
    
    height:400px;
    width:600px;
    
    text-align: center;
}
.header {
    text-align: center;
    background-color: white;
    top: 0px;
    padding-top: 20px;
    margin: 0px;
    height: 50px;
    box-shadow: 0px -5px 20px #242424;
    position: fixed;
    width: 100%;

}
button { 
  width:120px; 
  height:40px;
  font-weight: bold;
} 
#container{
    background-color: white;
    width: 1000px;
    margin: 100px auto;
    white-space: nowrap;
    box-shadow: 0px 0px 7px #999999;
    padding: 60px;
}
#program{
    margin-right: 10px;
    display: inline-block;
    vertical-align: top;
    width: 600px;
    box-shadow: 0px 0px 4px #4D4D4D;
}
#message{
    white-space: normal;
}
#buttonContainer{
    display: inline-block;
    vertical-align: top;
    width: 400px;
    text-align: center;
}
#outputDialog{
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
    white-space: nowrap;
    height: 68px;
}
#output{
    display: inline-block;
    width: 50%;
    vertical-align: top;
    text-align: center;
}
#winningButton{
    width: 271px;
    text-align: center;
}
#instructions{
    text-align: center;
}